$color-text: #000;
$color-bg: #fff;
$color-link: #d35066;
$color-link-hover: #000;
$color-info: #333;
$color-menu: #031de6;
$color-menu-hover: #000;
$grid-columns: 2;
$details-bg-up: #fff;
$details-bg-down: #f5f0ef;
$color-product-title: #000;
$color-product-subtitle: #a09897;
$color-details-title: #000;
$color-details-subtitle: #000;
$color-descr: #000;
$color-price: $color-link;
$color-bg-addtocart: #000;
$color-addtocart: #fff;
$color-close: #000;
$color-bg-magnifier: #000;
$color-magnifier: #fff;
$color-btn-hover: #c1b3b1;
$cart-bg-right: #fff;
$cart-bg-left: #f5f0ef;
